body{
  background: linear-gradient(45deg, #EEB5EB, #C8F4F9);
}
header{
  background-image: url('https://media-public.canva.com/FIl8g/MAC26uFIl8g/2/tl.png');
  background-size: contain;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;

}

.presentacion{
  text-align: right;
  padding: 0;
  margin: 0;
}

.table{
  width: 20%;
  margin-left: 30px;
  margin-right: 30px ;
}

#table{
  table-layout: fixed;
  width: 120px;
  border-collapse: separate;   
  border: 3px solid purple;
  text-align: center;
}
thead{
  font-size: 1.5rem;
}
.juego{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.letra{
  width: 200px;
  height: 300px;
  background-color: gray;
  font-size:250px;
  text-align: center;
}
.espacio{
  width: 100px;
  height: 300px;

}
.numeros{
  width: 300px;
  height: 300px;
  background-color: gray;
  font-size: 250px;
  text-align: center;
}
.pantallas{
  display: flex;
  flex-direction: row;
}

.boton{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between  ;
  margin-left: 30px;
}
.play{
  width: 300px;
  height: 100px;
  border-style: none;
  background-color: cornflowerblue;
  font-size: 80px;
}

.play:hover{
  cursor: pointer;
  -webkit-box-shadow: 17px 31px 9px -10px rgba(217,199,245,1);
-moz-box-shadow: 17px 31px 9px -10px rgba(217,199,245,1);
box-shadow: 17px 31px 9px -10px rgba(217,199,245,1);
transition-delay: 0.2s;

}

.reset{
  width: 100px;
  height: 50px;
  border-style: none;
  background-color: gray;
}

.reset:hover{
  cursor: pointer;
}
h3{
  font-family: 'Inconsolata', monospace;
}

a{
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
a:hover{
  color: red;
}