body{
    padding: 2rem 1rem 5rem 1rem;
}

.TechIcon{
    width: 60px;
    height: 60px;
}

@media (width >= 768px){
    body{
        padding: 5rem 3rem 5rem 14rem;
    }
}

@media(width >= 1024px){
    body{
        width: 85%;
    }
}