html{
    background-color: black;
    font-family: 'Righteous', sans-serif

}

header{
    color: white;
    background-color: grey;
    text-align: center;
}
img{
    display: block;
    margin: auto 0;
}

div #image{
    margin:auto;
	display:block;
    max-width: 100%;
    width: 300px;

}

#tribute-info{
    color:white;
    text-align: justify;
}

a:visited {
    color: white;
  }
  
a:hover {
    color: brown;
  }
  
a:active {
    color: red;
  }

#img-caption{
    font-style: italic;
    color: grey;
    text-align: center;
}