.contact__page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 120px);
    flex-direction: column;
}

.container{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    border: 2px solid var(--accent-200);
    background-color: var(--bg-100);
    box-shadow: var(--accent-200) 0px 3px 8px;
    color: var(--text-200);
}

.container h2{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: var(--text-200);

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    color: var(--text-200);

}

.campo{
    position: relative;
    margin-top: 20px;
    color: var(--text-200);

}

.campo textarea{
    margin: 1em 0 1em 0;
    width: 300px;
    position: relative;
    color: var(--text-200);

}

.campo input, .campo textarea{
    font-size: 100%;
  padding: 0.7em 0;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid var(--text-200);
  background: transparent;
  border-radius: none;
  width: 290px;
  resize: none; 
  color: var(--text-200);

}

.campo label{
    font-size: 100%;
    position: absolute;
    left: 0;
    color: var(--text-200);
    padding: 0.7em;
    margin-left: 0.1em;
    pointer-events: none;
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.campo input:focus + .label,
.campo textarea:focus + .label {
  transform: translateY(-20px); /* Mueve el label hacia arriba */
  font-size: 0.8em; /* Cambia el tamaño del label */
  color: var(--text-200); /* Cambia el color del label */
}

form button{  
    cursor: pointer;
    width: 50%;
    height: 30px;
    background-color: var(--bg-100);
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--text-200);
    transition: all 0.5s ease 0s;
}

form button:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-200);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }



  @media (width>= 768px) {
    .container{
    padding: 0.7em;

    }    
  }

  @media (width >= 1024px) {


    form button:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 15px var(--accent-200);
      }
  }