---
import Layout from '../layouts/Layout.astro';
import Experience from '../sections/Experience.astro';
import Hero from '../sections/Hero.astro';
import Projects from '../sections/Projects.astro';
import About from '../sections/About.astro';
import Resume from '../sections/Resume.astro';
import Contact from '../sections/Contact.astro';
import MailForm from '../components/MailForm.astro';
import Modal from '../sections/Modal.astro';
import { profile } from '../data/data';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col justify-start items-center">
		<Hero/>
		<About/>
		<Experience/>
	</main>
</Layout>
