---
import { navlinks } from "../data/data";
import SocialLinks from "./Social-links.astro";
import Status from "./Status.astro";
import Navbar from "./Navbar.astro";
const { profileData, socialLinks, navLinks } = Astro.props;
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
---

<header
  class="sticky top-0 left-0 right-0 flex flex-row justify-between items-center px-5 py-1 w-full bg-oceanic-noir text-white z-20"
>
  <div class="flex flex-col w-full items-center gap-4">
    <Navbar navlinks={navlinks} />
    <div
      class="flex flex-row gap-2 md:justify-end md:h-6 md:items-center w-full justify-end h-10"
    >
      <Status available={profileData.available} />
      <Button buttonId="open-form-btn" buttonTitle="Open form" >
        <Icon class="block md:hidden" name="chats-circle" size={32} />
        <span class="hidden md:block">Get in touch</span>
      </Button>
        <SocialLinks socialLinks={socialLinks} className="hidden md:flex" />
      {
        /*
        <SocialLinks socialLinks={socialLinks.slice(3)} className="hidden md:flex" />
      */
      }
    </div>
  </div>
</header>
