---
import { navlinks } from "../data/data";
import SocialLinks from "./Social-links.astro";
import Status from "./Status.astro";
import Navbar from "./Navbar.astro";
const { profileData, socialLinks, navLinks } = Astro.props;
---

<header
  class="sticky top-0 left-0 right-0 flex flex-row justify-between items-center px-5 py-1 w-full bg-oceanic-noir text-white"
>
  <img
    src="/logo.webp"
    alt="saburo.dev logo desarrollo web frontend"
    width="40px"
    height="40px"
    class="rounded-xl"
  />
  <div class="flex flex-row gap-2">
    <Navbar navlinks={navlinks} />
    <Status available = {profileData.available} />
    <a
      href="#"
      class="bg-[#ffffff30] p-2 rounded-full font-[600] text-[12px] md:hidden"
      >Get in touch</a
    >
    <SocialLinks socialLinks={socialLinks.slice(0, 3)} className="hidden md:flex" />
    <SocialLinks socialLinks={socialLinks.slice(3)} className="hidden md:hidden lg:flex" />
  </div>
</header>
