---

---

<div
  class="image-banner z-[-1] md:z-0 flex flex-col h-[158px] p-[4px] w-[50px] md:w-[100px] md:h-[263px] justify-center rounded-[50px] relative items-center bg-gradient-to-r from-artic-powder to-oceanic-noir md:min-w-[70px] md:p-[8px]"
>

  <span
    class="rotate-[270deg] w-[100px] md:w-[200px] text-[18px] absolute bottom-0 left-1/2 transform translate-x-[-50%] translate-y-[-50px] text-oceanic-noir font-bold md:left-[30px] md:bottom-[30px] md:text-[30px]"
  >
    with Miguel
  </span>
</div>
