---
import { Icon } from "astro-icon/components";
const className =
  "py-1 px-5 bg-forsythis lg:bg-transparent btn-background text-white text-lg font-semibold hover:scale-105 transition-transform w-[200px] flex flex-row text-center justify-center items-center gap-0 ";
import Button from "./Button.astro";
---

<div
  class="buttons p-[10px] w-[calc(100%-20px)] flex flex-row gap-2 justify-center items-center z-10 md:gap-5"
>
  <Button otherClasses="md:w-[200px] md:text-[20px] md:font-[600]">
    <a href="#about" class="flex flex-row items-center justify-center">View more</a>
  </Button>
  <Button otherClasses="md:w-[200px] md:text-[20px] md:font-[600]">
    <a href="https://github.com/borgesmj" target="_blank" class="flex flex-row items-center justify-center"
      >View my github<Icon name="arrow-up-rigth" /></a
    >
  </Button>
</div>
