---
import { Icon } from "astro-icon/components";
const className =
  "py-3 px-8 bg-forsythis lg:bg-transparent btn-background text-white text-lg font-semibold hover:scale-105 transition-transform w-[225px] flex flex-row text-center justify-center items-center gap-0 ";
---

<div
  class="buttons p-[10px] w-[calc(100%-20px)] flex flex-col md:flex-row gap-0 justify-center items-center z-10 md:gap-5"
>
  <a
    href="#experience"
    class={className}
    >View more</a
  >
  <a
    href="https://github.com/borgesmj"
    target="_blank"
    class={className}
    >View my github<Icon name="arrow-up-rigth" size={28} /></a
  >
</div>
