---

---

<div class="bg-gradient-to-r from-artic-powder to-oceanic-noir h-full w-[50px] rounded-full relative 3dshadow">
  <span class="absolute rotate-[270deg] right-[-50px] bottom-[80px] text-center w-[150px] text-[25px] font-[700] text-oceanic-noir">with Miguel</span>
</div>
