---
import { Icon } from "astro-icon/components"
---

<!--
    background: red;
    padding: 10px;
    width: calc(100% - 20px);
 -->
<div
  class="buttons p-[10px]w-[calc(100%-20px)] flex flex-row gap-10 justify-center items-center z-[-1]"
>
  <a href="#experience" class="flex flex-row justify-center items-center bg-artic-powder opacity-65 text-deep-saffron rounded-full p-2 text-[15px] font-[600]">View more</a>
  <a href="https://github.com/borgesmj" target="_blank" class="flex flex-row justify-center items-center bg-artic-powder opacity-65 text-deep-saffron rounded-full p-2 text-[15px] font-[600]">View my github<Icon name="arrow-up-rigth" size={28}/></a>
</div>
