---
const {profileData} = Astro.props;
---

<a href="/" class="flex flex-row gap-3 h-full max-w-10">
    <img
      src="/logo.webp"
      alt="saburo.dev logo desarrollo web frontend"
      width="40px"
      height="40px"
      class="rounded-xl"
    />
  </a>