---
import { Icon } from "astro-icon/components";
---

<div
  id="mail-form"
  class="flex-col w-dvw h-dvh fixed top-0 -right-[100%] bg-oceanic-noir z-30 hidden md:w-[40dvw] lg:w-[25dvw]gap-4 p-4"
>
  <div class="w-full h-10 p-4 flex justify-end">
    <div
      id="close-form-btn"
      class="cursor-pointer h-10 w-10 flex justify-center items-center"
    >
      <Icon name="close" size={60} />
    </div>
  </div>
  <h2 class="w-full text-center text-2xl underline underline-offset-8 my-4">
    Send me an e-mail
  </h2>
  <p class="w-full leading-7 text-center">
    <strong>Let's stay in touch!</strong> Feel free to send me an email with what
    you need—whether it’s a website, a landing page, or even a job opportunity. I'm
    here to help!
  </p>

  <form class="form-container flex flex-col gap-6">
    <div class="field relative h-10 w-full group">
      <input
        type="text"
        name="user_name"
        id="username"
        required
        class="peer absolute top-0 bottom-0 left-0 right-0 z-[-1] focus:border-solid focus:border-b-white focus:border-b-2 outline-none bg-transparent"
        tabindex="1"
      />
      <label
        for="username"
        class="w-full text-white absolute bottom-0 left-7 text-2xl group-focus-within:text-[15px] transition group-focus-within:-translate-x-6 group-focus-within:translate-y-[-30px] group-focus-within:text-white peer-valid:-translate-x-6 peer-valid:translate-y-[-30px] peer-valid:text-[15px]"
        >Name:</label
      >
    </div>
    <div class="field relative h-10 w-full group">
      <input
        type="text"
        name="user_email"
        id="email"
        required
        class="peer absolute top-0 bottom-0 left-0 right-0 z-[-1] focus:border-solid focus:border-b-white focus:border-b-2 outline-none bg-transparent"
        tabindex="2"
      />
      <label
        for="email"
        class="w-full text-white absolute bottom-0 left-7 text-2xl group-focus-within:text-[15px] transition group-focus-within:-translate-x-6 group-focus-within:translate-y-[-30px] group-focus-within:text-white peer-valid:-translate-x-6 peer-valid:translate-y-[-30px] peer-valid:text-[15px]"
        >Email:</label
      >
    </div>
    <div class="field relative h-32 w-full group">
      <textarea
        rows="4"
        name="message"
        id="message"
        required
        class="peer absolute top-0 bottom-0 left-0 right-0 z-[-1] border-solid border-transparent focus:border-b-white border-b-2 peer-valid:border-b-white outline-none bg-transparent resize-none h-full bg-red-900"
        tabindex="3"></textarea>
      <label
        for="message"
        class="w-full text-white absolute bottom-[90px] left-7 text-2xl group-focus-within:text-[15px] transition group-focus-within:-translate-x-6 group-focus-within:translate-y-[-30px] group-focus-within:text-white peer-valid:-translate-x-6 peer-valid:translate-y-[-30px] peer-valid:text-[15px]"
        >Message:</label
      >
    </div>
    <div class="field h-10 w-full flex flex-row justify-center items-center">
      <input
        id="send-btn"
        type="submit"
        value="Send"
        class="bg-gradient-to-tr from-[#7118e2] to-[#bdc3ff] h-[52px] w-[132px] rounded-[100px] p-4 flex justify-center items-center font-[600] text-[15px]"
      />
    </div>
  </form>
</div>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>
<script type="text/javascript">
  // Inicializa EmailJS después de cargar la biblioteca
  (function () {
    emailjs.init("NydoYd6k-fDjKaeCc");
  })();
  const sendEmailBtn = document.getElementById("send-btn");
  const nameInput = document.getElementById("username");
  const emailInput = document.getElementById("email");
  const messageInput = document.getElementById("message");
  document.getElementById("mail-form").addEventListener("submit", async (e) => {
    e.preventDefault();
    sendEmailBtn.value = "Sending...";
    const serviceID = "service_dlmwhdk";
    const templateID = "template_oeg299d";
    try {
      const result = await emailjs.sendForm(serviceID, templateID, e.target);
      console.log("email sent", result.text);
      sendEmailBtn.value = "Send";
      alert("Email sent successfully!");
      nameInput.value = "";
      emailInput.value = "";
      messageInput.value = "";
    } catch (error) {
      console.error("Failed to send email:", error);
      sendEmailBtn.value = "Send";
    }
  });
</script>
<style>
  .slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .slide-out-right {
    -webkit-animation: slide-out-right 0.5s
      cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }

  /**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-10-15 14:23:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
  }
</style>
