---
import { Icon } from "astro-icon/components";
---

<div
  id="modal-content"
  class="bg-artic-powder w-full h-fit text-oceanic-noir flex flex-col justify-center items-start rounded-lg mt-10 p-8 md:mt-20 lg:w-[600px] lg:mt-5"
>
</div>
