---
const {socialLinks, className} = Astro.props;

import { Icon } from "astro-icon/components";
---

<div class={className}>
    {
        socialLinks.map((link) => (
            <a target="_blank" href={link.href} class="p-2"><Icon name={link.name}/></a>
        ))
    }
</div>