body{
    background-color: aliceblue;
}
.container{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "display display display display"
    "AC AC divide multiply"
    "seveb eight nine substract"
    "four five six add"
    "one two trhee equals"
    "zero zero decimal equals";
    width: 300px;
}

.paddButton{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.display{
    grid-area: display;
    background-color: black;
    color: white;
    height: 70px;
    text-align: right;
}

.AC{
    grid-area: AC;
}

.zero{
    grid-area: zero;
}

.equals{
    grid-area: equals; 
}

.darkgrey{
    background-color: darkgray;
}

.red{
    background-color: red;
}

.paddButton:hover{
    border: 1px solid white ;
    color: #ccc
}

.total{
    padding: 5px 20px;
    color: yellow;
    font-size: 30px;

}

.display input{
    text-align: right;
    width: 90%;
    color: white;
    background-color: black;
    height: 20px;
    border: none
}

input::placeholder{
    color: white
}