#sidebar{
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    color: var(--text-200);
    background-color: var(--bg-100);
}

.sidebar__burger{
    height: 30px;
    width: 30px;
    display: flex;  
    flex-direction: column;
    justify-content: space-between ;
}

.sidebar__burger > span{
    border-radius: 50px;
    border-bottom: 3px solid var(--text-200);
    transition: all 0.5s ease 0s;
    display: block;
}

#sidebar__checkbox:checked ~ label > span:nth-child(2){
    display: none;
}

#sidebar__checkbox:checked ~ label > span:nth-child(1){
    transform: translateY(13px) rotate(45deg);
}
#sidebar__checkbox:checked ~ label > span:nth-child(3){
    transform: translateY(-14px) rotate(-45deg);
}

#socials_btn{
    height: 100%;
    width: 30px ;
}

#socials_btn > img{
    height: 100%;
    border-radius: 50%;
    border: var(--text-200) solid 2px;
}

#sidebar .button{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    /* background: var(--bg-300); */
    border: 2px solid var(--text-200);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar .button svg{
    width: 2em;
    height: 2em;
}

#sidebar .button > svg > path{
    fill: var(--text-200);
    font-weight: bold;
}

.button__panel{
    display: flex;
    width: 10em;
    justify-content: space-between;
}

@media (width >= 768px){
    #sidebar{
        height: 70px;
    }

    .sidebar__burger{
        width: 50px;
        height: 50px;
    }

    #sidebar__checkbox:checked ~ label > span:nth-child(1){
        transform: translateY(25px) rotate(45deg);
    }
    #sidebar__checkbox:checked ~ label > span:nth-child(3){
        transform: translateY(-22px) rotate(-45deg);
    }
}

@media (width >=1024px){
    #sidebar{
        display: block;
        height: 70px;
        width: 50dvw;
        position: fixed;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar__burger{
        display: none;
    }

    #socials_btn {
        position: fixed;
        right: 100px;
        height: 90px;
    }

    #sidebar .button:hover {
        cursor: pointer;
    }
}


