---
import { profile } from "../data/data";
import { marked } from "marked";
const paragraphOne = marked(profile.bio.split("||")[0]);
const paragraphTwo = marked(profile.bio.split("||")[1]);
import PageSection from "../components/PageSection.astro";
---

<PageSection sectionId="about">
  <div
    class="container mx-auto flex flex-col items-center justify-between relative w-full md:w-1/2 lg:absolute lg:right-0 gap-2"
  >
    <div class="text-white space-y-6">
      <!-- Title -->
      <h2
        id="about-header"
        class="text-4xl md:text-5xl font-bold mb-4 leading-tight text-transparent bg-clip-text bg-gradient-to-r from-artic-powder to-oceanic-noir text-shadow-[1px_1px_4px_#F1F6F4]"
      >
        About Me
      </h2>
      <!-- Contenido de texto -->
      <div id="content" class="flex flex-col gap-2 lg:px-4">
        <p class="text-lg leading-relaxed" set:html={paragraphOne} />
        <p class="text-lg leading-relaxed" set:html={paragraphTwo} />
      </div>
    </div>
    <!-- Button -->
    <a
      href="#contact"
      class="inline-block mt-6 mx-auto py-3 px-8 bg-forsythis lg:bg-transparent btn-background text-white text-lg font-semibold hover:scale-105 transition-transform"
      >Get in Touch</a
    >

    <!-- Imagen de la derecha -->
    <div class="md:w-1/2 mt-10 md:mt-0">
      <img
        src="/funko-teclado.webp"
        width="50px"
        height="50px"
        alt="Profile image"
        class="w-[100px] h-auto rounded-lg shadow-lg transform hover:scale-105 transition-transform drop-shadow-[1px_1px_4px_#F1F6F4]"
      />
    </div>
  </div>
</PageSection>
