---
import { socials } from "../data/data";
const currentYear = new Date().getFullYear();
---

<footer
  id="contact"
  class="flex flex-col items-center py-10 text-white w-[90%]"
>
  <!-- contEiner -->
  <div class="flex flex-row gap-4 justify-around items-center md:gap-0 w-full ">
    <!-- Redes Sociales -->
    <div class="flex flex-col items-center text-centerw-[300px] md:w-1/2">
      <h2 class="text-lg font-semibold mb-3 w-full text-center">Follow me</h2>
      <div id="links" class="grid grid-cols-1 md:grid-cols-2  gap-2 w-full items-center">
        {
          socials.map((link) => (
            <a
              href={link.href}
              class="capitalize text-gray-300 hover:text-blue-400 transition-colors duration-200  text-center"
              target="_blank"
              rel="noreferrer"
            >
              {link.name}
            </a>
          ))
        }
      </div>
    </div>

    <!-- Enlaces Rápidos -->
    <div
      id="quick-links"
      class="flex flex-col items-center text-center w-[300px] md:w-1/2 gap-2"
    >
      <a
        href="/"
        class="text-gray-300 hover:text-blue-400 transition-colors duration-200"
        >Home</a
      >
      <a
        href="#about"
        class="text-gray-300 hover:text-blue-400 transition-colors duration-200"
        >About</a
      >
      <a
        href="#experience"
        class="text-gray-300 hover:text-blue-400 transition-colors duration-200"
        >Experience</a
      >
      <a
        href="#projects"
        class="text-gray-300 hover:text-blue-400 transition-colors duration-200"
        >Projects</a
      >
    </div>

    <!-- Información de Contacto -->
  </div>
  <div
    id="contact-info"
    class="flex flex-col items-center gap-2 text-center text-gray-300"
  >
    <p class="text-sm">
      Email: <a
        href="mailto:borgesmj19@gmail.com"
        class="hover:text-blue-400 transition-colors duration-200"
        >borgesmj19@gmail.com</a
      >
    </p>
  </div>

  <!-- Derechos de Autor -->
  <div id="copyright" class="text-xs text-gray-500 text-center mt-4">
    <p>
      &copy; <span id="current-year">2025</span> Miguel Borges. Some rights reserved.
    </p>
  </div>
</footer>
