---
import { workExperience } from "../data/data";
import ExperienceCard from "../components/ExperienceCard.astro";
import { Icon } from "astro-icon/components";
import CardsList from "../components/CardsList.astro";
---

<!-- Lista de experiencias -->
<section id="experience" class="w-full py-6 px-4">
  <h2
    class="text-4xl md:text-5xl font-bold mb-4 leading-tight text-transparent bg-clip-text bg-gradient-to-r from-artic-powder to-oceanic-noir decoration-solid w-full text-center"
  >
    Experience
  </h2>
  <CardsList listId="experience-list">
    {
      workExperience.map((experience, index) => (
        <ExperienceCard key={index} experience={experience} />
      ))
    }
    <li
      class="relative py-2 px-5 flex flex-col w-fit whitespace-nowrap justify-center items-start"
    >
      <a
        href="https://www.linkedin.com/in/borgesmj/details/experience/"
        target="_blank"
        class="py-1 px-5 bg-forsythis lg:bg-transparent btn-background text-white text-lg font-semibold hover:scale-105 transition-transform w-[200px] flex-row text-center rounded-3xl flex justify-center items-center"
        >More<Icon name="new-tab" size={28} class="ml-2" /></a
      >
    </li>
  </CardsList>
</section>

<script>
  document.getElementById("experience-list").addEventListener("scroll", () => {
    const scroll = document.getElementById("experience-list").scrollLeft;
    console.log(scroll);
  });
</script>
