---
import { workExperience } from "../data/data";
import ExperienceCard from "../components/ExperienceCard.astro";
import { Icon } from "astro-icon/components";
import CardsList from "../components/CardsList.astro";
import PageSection from "../components/PageSection.astro";
---

<!-- Lista de experiencias -->
<PageSection sectionId="experience">
  <h2
    class="text-4xl md:text-5xl font-bold mb-4 leading-tight text-transparent bg-clip-text bg-gradient-to-r from-artic-powder to-mystic-mint decoration-solid w-full text-center"
  >
    Experience
  </h2>
  <ul class="w-full mb-10 lg:w-3/4 lg:mx-auto xl:w-2/3 2xl:w-1/2">
    {
      workExperience.map((experience) => (
        <ExperienceCard experience={experience} />
      ))
    }
    <a
      href="https://www.linkedin.com/in/borgesmj/details/experience/"
      target="_blank"
      class="text-deep-saffron flex flex-row items-center justify-start font-[600] text-2xl hover:text-white transition-colors mx-auto my-4"
      >View more<Icon name="caret-right" /></a
    >
    <a
      href="https://drive.google.com/drive/folders/106qk2bjK1uKgwcB8TMaMNkUnjNUtIjRv"
      target="_blank"
      class="relative w-40 h-10 cursor-pointer flex items-center border-solid border-2 border-[#17795E] bg-[#209978] group my-4"
      ><span
        class="button__text transition absolute h-full w-30 left-0 flex justify-center items-center text-xl group-hover:w-0 group-hover:text-transparent group-hover:hidden"
        >Download</span
      ><span
        class="button__icon transition absolute h-full w-10 bg-[#17795E] flex justify-center items-center right-0 group-hover:w-full group-hover:translate-x-0"
        ><Icon name="download-simple" size={32} /></span
      ></a
    >
  </ul>
</PageSection>
