---
const { profileData } = Astro.props;
import HeroBanner from "../components/HeroBanner.astro";
import HeroButtons from "../components/HeroButtons.astro";
import PageSection from "../components/PageSection.astro";
---

<PageSection sectionId="hero">
  <div id="funko-container" class="w-25 h-25 lg:absolute lg:left-0 lg:top-0 lg:h-[180dvh] lg:z-30 xl:h-[150dvh] 2xl:h-[150dvh]">
    <div id="funko-image-container" class="sticky top-[30px] w-25 h-25">
      <img src="hero-funko.png" alt="hero funko image" width="100px" height="100px" class="md:w-[200px] md:h-auto ">
    </div>
  </div>
  <div
    class="container relative  flex flex-row justify-center items-center w-[260px] h-[190px] md:w-[400px] md:h-[300px]"
  >
    <div
      class="letters-container flex flex-col justify-start items-start  w-full"
    >
      <p class="text-[25px]">
        <span
          class="w-[30px] mr-2 h-0 border-solid border-b-2 border-b-white inline-block align-middle md:w-[50px]"
        ></span>Build your
      </p>
      <h1
        class="text-[100px] text-left font-bold leading-[0.75] [text-shadow:_4px_4px_12px_rgba(0,_0,_0,_0.25)] bg-gradient-to-r from-[#d9e8e3] to-oceanic-noir bg-clip-text text-transparent md:text-[160px]"
      >
        Next Web
      </h1>
    </div>
    <HeroBanner/>
  </div>
  <HeroButtons/>
</PageSection>
