@import url('https://fonts.googleapis.com/css2?family=Artifika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


:root{
  --primary-100:#3F6FB5;
  --primary-200:#749de8;
  --primary-300:#dcffff;
  --accent-100:#00BFFF;
  --accent-200:#00619a;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#1E2A3A;
  --bg-200:#2e3a4a;
  --bg-300:#475264;
    
}

.container{
  width: 100%;
  font-family: 'Space Mono', monospace;
}
.links{
  width: 90%;
  height: 50px;
}


.telefono{
  display: none;
}
.links{
  background-color: transparent;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.links span{
  margin-top: 10px;
  font-size: .7em;
  font-weight: bold;
  justify-self: flex-start;
  font-family: 'Shadows Into Light', cursive;
}

.links .links-icons{

  display: flex;
  flex-direction: row;
}
.bold{
  font-weight: bold;
}
.profiles-links{
  color: white;
  height: 100%;
  background-color: transparent;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  opacity: 0.6;
}

.profiles-links:hover{
  cursor: pointer;
  color: red
}


.Profile{
  padding: 10px;
}

.Profile h1{
  font-size: 2.5em;
  font-family: 'Artifika', serif;
}

.Profile input{
  display: none;
}

.Profile a{
  text-decoration: none;
  color: var(--text-200);
  font-weight: bold;
  font-size: 1.3em;
}
.Profile p{
  font-size:2.5em;
}

.Profile form{
  display: none;
}

.data{
  max-width: 95%;
}

.notification {
  display: none;
}

.red{
  color: red;
}
#about p::first-letter {
  margin-left: 20px;
}

#experience{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

#experience h2{
  font-size: 2em;
}
#experience div{
  background-color: #e0e0e005;
  margin-bottom: 10px;
}

#certificates{
  line-height: 2.5;
}

#certificates ul li:hover{
  font-weight: bold;
  
}

#certificates ul a{
  text-decoration: none;
  color: white;
}

#resume{
  width: 100%;
  text-align: right;
  background-color: var(--bg-100);
  align-self: flex-end;
  background-color: red;
}

#resume a{
  color: var(--text-200);
  text-decoration: none;
}

#projects .Project-card{
  background-color: #00BFFF08;
  width: 100%;
}

#projects h2{
  font-size: 2em;
}

.Project-card div{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Project-card a{
  color: white;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

.Project-card span{
  border: 1px solid var(--primary-200);
  padding: 5px;
  border-radius: 30px;
}

.Project-card .tags{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 2px;
grid-row-gap: 2px;
text-align: center;
font-size: .7em;
}

#modal{
  background-color: #00BFFF30;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closebtn{
  font-size: 2em;
  align-self: flex-end;
  color: white
}

.modalinterno{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-300);
  width: 90%;
  height: 90%;
  justify-content: center;

}

#modal form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  
}

#modal input{
  width: 60%;

}

#modal p{
  /* background-color: red; */
  font-size: 2em;
  font-weight: bold;
}

.error{
  background-color: red;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

select{
  width: 15em;
}
#modal input[type=submit]{
  background-color: var(--primary-300) ;
  height: 3em;
  color: var(--bg-100);
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: #00BFFF;
}

#modal .modalLinks{
  margin-top: 20px;
  font-size: 3em;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#modal .modalLinks a{
  color: white;
}

#modal .modalLinks a:hover{
  color: var(--primary-200)
}






@media (min-width: 768px) { 
    .links{
      width: 100%;
      color: white;
    }

    .Profile h1{
      font-size: 4em;
    }
    .Profile p{
      font-size: 2em;
    }

    .Profile form{
      display: block;
    }

    .project-grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }

    .links span{
      font-size: .9em;
    }


 }

@media (min-width: 1024px) { 
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links{
    display: flex;
   width: 100%;
   z-index: 1;
   margin-top: 10px;
  }

  .links span{
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
  }
  .Profile{
    width: 40vw;
    height: 100vh;
    position: fixed;
  }
  .Profile h1{
    font-size: 5.5em;
  }
  .Profile p{
    font-size: 2.5em;
  }

  .telefono{
    display: block;
    width: 25rem;
    height: 33rem;
    border-radius: 30px;
    background-color: rgb(71, 68, 68);
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pantallatelefono{
      height: 95%;
      width: 95%;
      background-color: rgb(197, 195, 195);
  }
  .usuario{
    background-color: grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .persona span:nth-child(1){
    font-size: 1em;
  }

  .persona span:nth-child(2){
    font-size: .5em;
  }
  .franjanombre{
    height: 15%;
    width: 100%;
    background-color: rgb(113, 241, 113);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
  }
  .persona{
    display: flex;
    flex-direction: column;
    color: black;
    width: 50%;
  }
  .data{
    width: 50vw;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .project-grid{
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  #projects .Project-card{
    background-color: var(--bg-100);
  }
  .options a{
    font-size: 1.5em;
  }

  .Profile a:hover{
    text-decoration: line-through;
    cursor: pointer;
  }

  .links a{
    color: white
  }
  #projects .Project-card:hover{
    background-color: #00BFFF20
  }

  #modal{
    width: 100vw;

    padding: 20px;
  }
  .closebtn:hover{
    cursor: pointer;
    font-weight: bold;
  }

  #modal input[type=submit]:hover{
    background-color: #1E2A3A;
    color: white;
    cursor: pointer;
    border: #00BFFF;
  }
  .notification {
    background-color: #25d366;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    line-height: 1;
    border-radius: 10px;
    opacity: .3;
  }

  .notification:hover{
    opacity: 1;
  }
  .notification span:nth-child(1){
    font-size: 3em;
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 2px 5px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  #modal input[type=text]{
    height: 2em;
  }
  #modal input[type=email]{
    height: 2em;
  }

  .closebtn:hover{
    background-color: #ff000050;
  }
 }