:root {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-100: #d4eaf7;
  --primary-200: #b6ccd8;
  --primary-300: #3b3c3d;
  --accent-100: #71c4ef;
  --accent-200: #00668c;
  --text-100: #1d1c1c;
  --text-200: #313d44;
  --bg-100: #fffefb;
  --bg-200: #f5f4f1;
  --bg-300: #cccbc8;
  --height: 70px ;

  background-color: var(--bg-100);
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  --primary-100: #3F6FB5;
  --primary-200: #749de8;
  --primary-300: #dcffff;
  --accent-100: #00BFFF;
  --accent-200: #00619a;
  --text-100: #FFFFFF;
  --text-200: #e0e0e0;
  --bg-100: #1E2A3A;
  --bg-200: #2e3a4a;
  --bg-300: #475264;

  background-color: var(--bg-100);
}

body {
  margin: 0;
}

#root {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.app_container {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.contenido > div > h2 {
  width: 100%;
  text-align: center;
}

.contenido {
  width: 93vw;
  height: fit-content;
  position: absolute;
  top: 70px;
  overflow: auto;
  height: calc(100vh - 70px);
  background-color: var(--bg-100);
  color: var(--text-200);
  z-index: -1;
}

@media (min-width: 1024px) {
  .contenido {
    top: 100px;
    width: 50vw;
    right: 25px;
    height: calc(100vh - 120px);
    padding: 10px 15px;
}
}
