---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { navlinks, profile, socials } from "../data/data";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <title>Miguel Borges || FrontEnd Developer</title>
    <meta
      name="description"
      content="Hi! I'm Miguel, a FrontEnd dev, focused on create atractive and user friendly websites "
    />
    <meta name="robots" content="index, follow" />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="Miguel Borges" />
    <meta property="og:url" content="https://borgesmj.github.io/" />
    <meta
      property="og:image"
      content="https://borgesmj.github.io/funko-teclado.webp"
    />
    <meta property="profile:first_name" content="" />
    <meta property="profile:last_name" content="" />
    <meta name="twitter:card" content="app" />
    <meta name="twitter:site" content="@https://borgesmj.github.io/" />
    <meta
      name="twitter:description"
      content="Hi! I'm Miguel, a FrontEnd dev, focused on create atractive and user friendly websites"
    />
    <meta name="twitter:title" content="Miguel Borges" />
    <meta name="twitter:image" content="https://borgesmj.github.io/funko-teclado.webp" />
  </head>
  <body class="bg-oceanic-noir text-white antialiased">
    <Header profileData={profile} socialLinks={socials} navlinks={navlinks} />
    <slot />
  </body>
  <script src="../scripts/main.js"></script>
</html>
<style is:global>
  :root {
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
    --mobile-header: 48px;
    --mobile-nav: 40px;
  }
  html {
    scroll-behavior: smooth;
  }
  .no-scroll {
    overflow-y: hidden;
  }
  main {
    max-width: calc(100dvw - 2.5rem);
  }
  section {
    position: relative;
    width: 100%;
    padding-block: 2rem;
    padding-inline: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero {
    height: calc(100dvh - (var(--mobile-header) + var(--mobile-nav)));
  }
  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .transition {
    transition: all 0.3s ease-out;
  }

  .btn-background {
    border: none;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .btn-background::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
  }

  .btn-background:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }

  .btn-background:hover::before {
    width: 100%;
  }

  .btn-background::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
  }
  .btn-background:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  /* width */
  ::-webkit-scrollbar {
    display: block;
    width: 10px;
    border-radius: 50px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f6f4;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #172b36;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media ((min-width: 1024px)) {
    .dynamic-height {
      height: auto;
    }
  }
</style>
