.certificados_Seccion{

    margin-left: 30px;
}

.certificados{
    padding: 10px;
    list-style: none;
}

.certificados > li{
    font-size: 1em;
    padding: 10px;
}

.certificados > li > a{
    text-decoration: none;
    color: var(--text-200)
}

.certificados > li > svg > path{
    fill: var(--text-200);
}

