:root{
    --Burnt-Orange: #E87A00;
    --Desert-Sun: #D89C60;
    --Navy-Blue: #045174;
    --Midnight-Blue: #001F3D;
    --black: #000000;
    --white: #ffffff;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--Midnight-Blue);
}
*{
    box-sizing: border-box;
}

#back-section{
    margin: 20px;
    padding: 20px;
    color: var(--white);
    font-size: 200%;
    height: 10vh;
    position: fixed;
    opacity: 0.3;
}

#back-section:hover{
    opacity: 1;
}
.fa-solid{
    text-decoration: none;
    color: var(--white);
    background-color: var(--Burnt-Orange);
    padding: 10px;
    border-radius: 50%;
}

#download-link{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-file-pdf{
 font-size: 200%;
 margin-right: 20px;
 padding: 20px;
 margin-top: 20px
}

input[type="checkbox"]{
    display: none;
}

#flag-box{
    border: 2px solid var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    width: 70px;
    cursor: pointer;
}

#spanish{
    transform: translateX(25px);
    transition: 0.3s;
}

#english{
    transform: translateX(0px);
    transition: 0.3s;
    opacity: 0;
}

#switch-flags:checked ~ #flag-box > #spanish {
    opacity: 0;
    transform: translateX(0px);
}


#switch-flags:checked ~ #flag-box > #english {
    opacity: 1;
    transform: translateX(-25px);
}

#switch-flags:checked ~ .english{
    display: block;
}

#switch-flags:checked ~ .spanish{
    display: none;
}

.flag-icon{
    height: 20px;

}

.english{
    display: none
}



#resume-section{
    width: 80vw;
    margin: auto;
    border-radius: 20px;
    background-color: var(--Desert-Sun);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px;
    flex-direction: column;
}



.bold{
    font-weight: bold;
}

.left{
    width: 30%;
}

.rigth{
    width: 70%;
    text-align: justify;
}

.more-button{
    border: 1px solid var(--white);
    border-radius: 20px;

}
.more-button:hover{
    cursor: pointer;
    background-color: var(--white);
}

.more-button a{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    padding: 20px;
    font-size: 1.3rem;
}

.more-button a:hover{
    color: var(--Desert-Sun);
}

.center{
    align-self: center;
}


table{
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

tr{
    width: 90%;
    /* background-color: red; */
}

td, th{
    padding: 0;
    margin: 0;
}

th{
/* background-color: red; */
width: 200px;
}

td{
    text-align: justify;
}

@media (max-width: 360px) {
    th{
        width: 100px;
    }
    
}
@media (max-width: 375px) {
    th{
        width: 125px;
    }
}