:root{
    --Burnt-Orange: #E87A00;
    --Desert-Sun: #D89C60;
    --Navy-Blue: #045174;
    --Midnight-Blue: #001F3D;
    --black: #000000;
    --white: #ffffff;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--Midnight-Blue);
}
*{
    box-sizing: border-box;
}

@font-face {
    font-family: Brightag;
    src: url('/Font/Brightag_Medium.ttf');
}

@font-face {
    font-family: PoetsenOne-Regular;
    src: url('/Font/PoetsenOne-Regular.ttf');
}

.side-bar{
    height: 210px;
    width: 50px;
    background-color: var(--Burnt-Orange);
    position: fixed;
    top: 30vh;
    left: 0;
    border-radius: 20px;
    font-family: 'Francois One', sans-serif;

}   

.icon{
    font-size: 2em;
    text-align: center;
    margin: auto;
    font-size: 2em;
    color: var(--white);
}

.link{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    transition: all 1s ease;

}

.text{
    display: none;
}
.link:hover{
    width: 150px;
}
.link:hover > .text{
    display: flex;
    width: 300px;
    background-color: var(--Burnt-Orange);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: var(--white);
    }

    .link:hover > .text::before{
        background-color: red;
    }

.link:hover > .icon{
    display: none;
}

.side-bar .link  a {
    color: var(--white);
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.tag-symbol{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.main-section{
    width: 100vw;
    height: 90vh;
    background-color: var(--Midnight-Blue);
    background-image: url('/Img/Developer\ activity-bro.svg');
    background-position: right;
    background-repeat: no-repeat;


    
}


.main-text{
 
    margin-left: 75px;
    margin-top: 70px;
}

.letra-M{
    color: var(--white);
    text-shadow: -5px 6px 0px red, 0 0 1em black, 0 0 0.2em rgb(0, 0, 0);
}


.code-text{
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    color: var(--white);
    font-family: 'Brightag';
}

.code-line{
    margin: 0;
    color: var(--white);
    opacity: 0.5;
    font-size: 0.7em;
}


.main-circle{
    position: absolute;
    top: 10vh;
    left: 70vw;
    border: solid 1px black;
    border-radius: 50%;
    background-color: red;
}



.h1{
    font-size: 7em;
}

.h3{
    font-size: 4em;    
}

.p{
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: red; */
    width: 320px;

}

.profile-links{
    width: 140px;
    height: 40px;
    margin-left: 75px;
    margin-top: 30px;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 70vh

}

.link-icon{
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;

}

.link-icon:hover{
    background-color: var(--white);
    color: var(--Midnight-Blue);
}


#about-section{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me{
    width: 60%;
    height: 100vh;
    background-color: var(--Desert-Sun);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* opacity: 0.8; */
    /* justify-content: space-between; */
    border-radius: 20px;
}

.flag-icon{
    height: 20px;

}


.about{
    line-height: 30px;
    text-align: justify;
    margin: 20px;
    padding: 20px;
    font-family: 'PoetsenOne-Regular';
    color: var(--Midnight-Blue);
    height: 100%;
    

}

.english{
    display: none;
}

input[type="checkbox"]{
    display: none;
}

#flag-box{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
    width: 70px;
    cursor: pointer;
}

#spanish{
    transform: translateX(25px);
    transition: 0.3s;
}

#english{
    transform: translateX(0px);
    transition: 0.3s;
    opacity: 0;
}

#switch-flags:checked ~ #flag-box > #spanish {
    opacity: 0;
    transform: translateX(0px);
}


#switch-flags:checked ~ #flag-box > #english {
    opacity: 1;
    transform: translateX(-25px);
}

#switch-flags:checked ~ .english{
    display: block;
}

#switch-flags:checked ~ .spanish{
    display: none;
}

#form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('/img/Emails-amico.svg');
    background-repeat: no-repeat;
    margin-top: 15px;
    padding: 15px;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#Subject{
    width: 400px;
    height: 70px;
    background-color: var(--Desert-Sun);
    color: var(--white);
    font-weight: bold;
}

#Emailtext{
    width: 400px;
    height: 70px;
    background-color: var(--Desert-Sun);
    color: var(--white);
    font-weight: bold;
}

::placeholder{
    color: var(--white)
}

#send-email{
    font-size: 1.3em;
    color: var(--white);
}

input[type="button"]{
    background-color: var(--Desert-Sun);
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    width: 120px;
    font-size: 1.2em    ;
}

input[type="button"]:hover{
    background-color: var(--Burnt-Orange);
    border: 1px black solid
}

@media (max-width: 720px) {
    #main-section{
        background-image: none;
        display: flex;
        justify-content: space-between;
        height: 110vh;
    }
    #profile-links{
        margin-top: 125px;
    }
    #about-section{
        height: 200vh;
        margin-bottom: 10px;
    }
    .about-me{
        height: 100%;
   
    }
    #form-section{
        background-image: none;
    }
    
}

@media (max-width: 365px) {
    #main-section{
        background-image: none;
        height: 250px;
    }
    .code-line{
        display: none;
    }
    .main-text{
        margin-left: 10px;
    }

    .main-text h3{
        font-size: 2rem;
        color: blue;
    }
    .main-text h1{
        font-size: 2rem;
    }
    .main-text p{
        font-size: 1rem;
    }
    .profile-links{
        position: absolute;
        top: 12vh
    }
    .about-me{
        margin-left: 30px;
        width: 300px;
        height: 1050px;
     
    }
    .about{
        font-size: 1rem;
        height: 100%;
        line-height: 1.2;
    }

    form{
        width: 60%;
        padding: 10px;
        margin: 10px;
    }
    #Subject{
        width: 300px;
    }
    
    #Emailtext{
        width: 300px;
    
    }
}
